.splash .logo{
    max-width: 300px;
    margin:0 auto;
}

.triangle-back{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    min-height: 200px;
    background-image: url('./images/triangles-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 0;
    opacity: 0.8;
}

.splash .page-wrapper{
    background-color: white;
}

.page-content{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 5vh;
    z-index:1;
}

.question{
    text-decoration: underline;
    margin-bottom: 0;
}

.splash ul{
    list-style-type: disc;
    padding-left: 15px;
}